In [1]:
import numpy as np

In [2]:
my_numpy_array = np.random.rand(3)

In [3]:
type(my_numpy_array)

numpy.ndarray

In [4]:
my_numpy_array[2]

0.8387416704537946

In [5]:
import pandas as pd

In [6]:
my_series = pd.Series(my_numpy_array)

In [7]:
my_series = pd.Series(my_numpy_array, index = ["First", "Second", "Third"])

In [9]:
my_series["Second"]

0.35436014356284107

print("my_series.index")

In [10]:
array_2d = np.random.rand(3,2)

In [11]:
df = pd.DataFrame(array_2d)

In [14]:
array_2d[2,1]

0.3846984797517756

In [15]:
df

          0         1
0  0.286439  0.305939
1  0.283323  0.541496
2  0.879938  0.384698

In [16]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [18]:
df.columns = ["1st","2nd"]

In [19]:
df

        1st       2nd
0  0.286439  0.305939
1  0.283323  0.541496
2  0.879938  0.384698

In [20]:
df["1st"]

0    0.286439
1    0.283323
2    0.879938
Name: 1st, dtype: float64